* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-image: linear-gradient(180deg, dodgerblue, rgb(14, 122, 255));
}

.head,
.about,
.projects,
.contact {
  height: 100vh;
  width: 100vw;
  padding: 5rem 2rem;
  color: aliceblue;
}
.head {
  background: rgba(30, 144, 255, 1);
}
.headings {
  font-size: 3rem;
}

#headtitle {
  font-size: 5rem;
  overflow: hidden;
}

.about {
  color: aliceblue;
  background: dodgerblue;
}
.projects {
  color: rgb(67, 84, 115);
  background: aliceblue;
  overflow: scroll;
  overflow-x: hidden;
}
.contact {
  background: aliceblue;
  color: rgb(67, 84, 115);
}

#footer {
  height: 10vh;
}

/* Contents */

.circle {
  height: 2rem;
  width: 2rem;
  background: cornflowerblue;
  border-radius: 100px;
  display: inline-block;
}

.circle:hover {
  background: lightskyblue;
}

#portfoliocontainer {
  padding: 3rem;
  background: dodgerblue;
}

.portfolio {
  display: inline;
}
.portfolio img {
  width: 200px;
  height: 100px;
}

h1 {
  color: #20405e;
  color: #376183;
  color: #5782a4;
  color: #122c3d;
  color: #87accb;
  color: #d3e1eb;
  color: #ec4639;
  color: #39a7ec;
}
/* 
#376183
#5782AM4
#122C3D
#87ACCB
#D3EIEB */
